<!DOCTYPE html>
<html>
    <head>
        <title>Mike's Blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Mike's Blog</a></h1>
        </header>

	{% for post in posts %}
        	<article>
            		<time>published: {{ post.published_date }}</time>
            		<h2><a href="">{{ post.title }}</a></h2>
			<! -- |linebreaksbr converts linebreaks into paragraphs -->
            		<p>{{ post.text|linebreaksbr }}</p>
        	</article>
	{% endfor %}

    </body>
</html>
