h1 a, h2 a {
    color: #aaf0c0;
    font-family: 'Noto Sans', sans-serif;
}

a {
    color: #aaf0c0;
}

a:hover {
    color: #aaf0c0;
    text-decoration: underline;
}

body {
    background-color: #000000;
    padding: 15px;
}

.page-header {
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 40px;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
    font-family: 'Redressed', cursive;
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
    color: #ffffff;
    font-family: 'Noto Sans', sans-serif;
}

.comment {
    color: #ffffff;
    font-family: 'Noto Sans', sans-serif;
    border-color: #ffffff;
    border-style: dashed;
    padding: 10px;
    margin: 20px 0px 20px 0px;
}

.comment > time,
.comment > .actions {
    float: right;
}

.date {
    color: #ffffff;
    font-family: 'Noto Sans', sans-serif;
}

.save {
    float: right;
}

.post-form textarea,
.post-form input {
    width: 100%;
}

.top-menu,
.top-menu:hover,
.top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 50px;
}

.post h2 a,
.post h2 a:visited {
    color: #aaf0c0;
}

.post > .date,
.post > .actions {
    float: right;
}

.btn-default,
.btn-default:visited {
    color: #ffffff;
    background: none;
    border-color: #ffffff;
}

.btn-default:hover {
    color: #000000;
    background-color:#aaf0c0;
    border-color: #aaf0c0;
}